# Copia este archivo a ".env" y rellena los valores

PORT=4000

# Genera uno random largo
JWT_SECRET=pon_aqui_un_secreto_largo

# Crea una aplicación en Discord Developer Portal:
# https://discord.com/developers/applications
DISCORD_CLIENT_ID=tu_client_id
DISCORD_CLIENT_SECRET=tu_client_secret

# URL del callback (debe coincidir con la configurada en Discord)
DISCORD_REDIRECT_URI=http://localhost:4000/auth/discord/callback

# (Opcional) Bot Token para poder resolver el avatar actual de los usuarios en comentarios
# Si no lo pones, la web usará el avatar guardado y un fallback para evitar imágenes rotas.
DISCORD_BOT_TOKEN=tu_bot_token


STEAMGRID_API_KEY=tu_steamgrid_api_key

ADMIN_IDS=tu_discord_id

